body {
  background: #000;
  color: white;
  text-align: center;
  padding: 4rem;
  font-family: 'Sanchez', serif;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.lottie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 0 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}